body{

}

strong{
    color:rgb(6, 6, 134)
}

p{
       color:rgb(94, 6, 83)
}
color:rgb(247, 169, 25)
}

H3{
 
z{
    color:rgb(96, 178, 231)
}

p{
    text-align:center
}

h2{
    text-align:center
}

h3{
    text-align:center
}

h1{
    text-align:center
}

p{
    font-size:20px
}

