body{
background-color: rgba(0, 195, 255, 0.562)
}
h2{
    color:rgb(6, 6, 134)
}

p{
       color:rgb(51, 104, 2)
}

p{
    text-align:center
}

h2{
    text-align:center
}

h1{
    text-align:center
}

p{
    font-size:25px
}

STRONG{
    color:blueviolet
}

.dino{height: 350px;
width: 600px;
}

.jogo-android{
    height: 300px;
width: 600px;
}

.logo{
    height: 300px;
width: 450xpx;
}