body{

}

strong{
    color:rgb(6, 6, 134)
}

p{
       color:rgb(94, 6, 83)
}

p{
    text-align:center
}

h2{
    text-align:center
}

h3{
    text-align:center
}

h1{
    text-align:center
}

p{
    font-size:20px
}

